.box{
    background-color: gray;
    width: 300px;
    display: inline-block;
    padding: 20px 40px;
}

.box-2{
    background-color: gray;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px;
}

.name{
    color: blue;
}

.body{
    display: flex;
    justify-content: center;
}
