<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>
<body class="d-flex">
    <div class="p-5">
        <h2>{{author.name}}'s favorites</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Number of pages</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-5">
        <h2>Add Author's Favorite</h2>
        <form action="/join/book", method="post">
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2" for="title">Book:</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    {% for book in unfavorited_books %}
                    <option value="{{book.id}}">{{book.title}}</option>
                    {% endfor %}
                </select>
              </div>
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </form>
    </div>
</body>
</html>